.App {
  text-align: left;
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(5px + 1.5vmin);
  /* color: white; */
  margin-right: 20%;
  margin-left: 20%
}

h4 {
  margin-top: 40px;
}

.App-link {
  color: #61dafb;
}

input[type=text] {
  width: 80%;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 7px;
  font-size: calc(5px + 1.2vmin)
}

input[type=submit] {
  width: 10%;
  padding: 10px 10px;
  margin: 8px 8px;
  box-sizing: border-box;
  background-color: #a8bcff;
  border-radius: 7px;
  font-size: calc(5px + 1.2vmin)
}

input[type=text]:focus {
  background-color: #e9f0ff;
}

#errorMsg {
  color: #ff0000;
}