.App {
  text-align: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: calc(5px + 1.5vmin);
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 10%;
}

h4 {
  margin-top: 40px;
}

h2 {
  margin-top: 50px;
}

.App-link {
  color: #61dafb;
}

input[type=text] {
  width: 70%;
  padding: 10px 10px;
  margin: 5px 5px;
  box-sizing: border-box;
  border-radius: 7px;
  font-size: calc(5px + 1.2vmin)
}

input[type=text]:focus {
  background-color: #e9f0ff;
}

input[type=submit] {
  width: 7%;
  padding: 10px 10px;
  margin: 5px 5px;
  box-sizing: border-box;
  background-color: #a8bcff;
  border-radius: 7px;
  font-size: calc(5px + 1.2vmin)
}

input[type=button] {
  width: 10%;
  padding: 10px 10px;
  margin: 5px 5px;
  box-sizing: border-box;
  background-color: #a8bcff;
  border-radius: 7px;
  font-size: calc(5px + 1.2vmin)
}

#errorMsg {
  color: #ff0000;
}

.highlight {
  color: #ff0000;
  text-decoration: underline;
  font-weight: bold;
}